/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.containerAttr {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 65%;
  max-width: 1280px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header h1 {
  color: #DAA520;
  font-size: 3.5rem;
  font-family: 'Girassol', cursive;
}
header nav {
  max-width: 400px;
  display: flex;
  align-items: center;
}
header nav a {
  text-align: center;
  padding: 10px 15px 10px 15px;
  color: #191970;
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
  text-decoration: none;
}
header nav .join {
  color: white;
  background-color: #DAA520;
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.gallery .gallTag {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-flow: column;
}
.gallery .gallTag .reviews {
  align-self: flex-end;
}
footer {
  background-color: #DAA520;
}
footer .footerNav {
  height: 150px;
  display: flex;
  flex-flow: column wrap;
}
footer .footerNav a {
  margin: 15px 15px 0 15px;
  color: black;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 65%;
  max-width: 1280px;
}
.container .ourMission {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.container .ourMission h2 {
  color: #DAA520;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
}
.container .ourMission p {
  color: black;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}
.container .ourTeam {
  width: 65%;
  margin: 25px auto;
}
.container .ourTeam h2 {
  text-align: center;
  color: #DAA520;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
}
.container .ourTeam .gallery .gallOpt {
  width: 200px;
  height: 300px;
  margin: 10px 5px 10px 5px;
  background-color: #191970;
}
.container .ourTeam .gallery .gallOpt .gallImg .imgSz {
  display: block;
  margin: 15px auto 10px;
  width: 150px;
}
.container .ourTeam .gallery .gallOpt .gallTag {
  text-align: center;
}
.container .ourTeam .gallery .gallOpt .gallTag h4 {
  color: #DAA520;
  font-size: 2rem;
  font-family: 'Girassol', cursive;
}
.container .ourTeam .gallery .gallOpt .gallTag h5 {
  color: #DAA520;
  font-size: 1.5rem;
  font-family: 'Girassol', cursive;
}
