/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.containerAttr {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1280px;
}
.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsiveRow {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.dropShadow {
  box-shadow: 4px 4px 6px grey;
}
.menuWrap {
  visibility: hidden;
  position: fixed;
  top: 16.66666667px;
  right: 65px;
  z-index: 1;
}
@media (max-width:600px) {
  .menuWrap {
    visibility: visible;
  }
}
.menuWrap .toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menuWrap .burger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: #DAA520;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrap .burger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.menuWrap .burger > div:before,
.menuWrap .burger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menuWrap .burger > div::after {
  top: 10px;
}
.menuWrap .toggle:checked + .burger > div {
  transform: rotate(135deg);
}
.menuWrap .toggle:checked + .burger > div:before,
.menuWrap .toggle:checked + .burger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menuWrap .toggle:checked:hover + .burger > div {
  transform: rotate(225deg);
}
.menuWrap .toggle:checked ~ .menu {
  visibility: visible;
}
.menuWrap .toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 1s;
}
.menuWrap .toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menuWrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrap .menu > div {
  background-color: rgba(25, 25, 112, 0.8);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menuWrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menuWrap .menu > div > div ul {
  list-style: none;
  color: white;
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
}
.menuWrap .menu > div > div ul a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.menuWrap .menu > div > div ul a:hover {
  text-decoration: underline;
}
header {
  margin-left: 16.66666667px;
  margin-right: 16.66666667px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header a {
  color: #DAA520;
  font-size: 3.5rem;
  font-family: 'Girassol', cursive;
  text-decoration: none;
}
header nav {
  max-width: 400px;
  display: flex;
  align-items: center;
}
header nav a {
  text-align: center;
  padding: 10px 15px;
  color: #191970;
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
  text-decoration: none;
}
header nav .join {
  color: white;
  background-color: #DAA520;
}
@media (max-width:600px) {
  header nav {
    display: none;
  }
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.gallery .gallOpt {
  margin-bottom: 25px;
  transition: all 0.2s ease;
  box-shadow: 4px 4px 6px grey;
}
.gallery .gallOpt:hover {
  transform: scale(1.25);
}
.gallery .gallTag {
  display: flex;
  margin: 10px;
  flex-flow: column;
}
.gallery .gallTag .reviews {
  align-self: flex-end;
}
footer {
  background-color: #DAA520;
  height: 170px;
}
footer .footerNav {
  margin-top: 8.33333333px;
  margin-left: 25px;
  height: 150px;
  max-width: 350px;
  display: flex;
  flex-flow: column wrap;
}
footer .footerNav a {
  margin: 15px 15px 0 15px;
  color: black;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
@media (max-width:600px) {
  footer .footerNav {
    max-width: 100%;
    margin-left: 37.5px;
  }
}
.container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1280px;
}
.container .ourMission {
  width: 65%;
  margin: 0 auto 50px;
  text-align: center;
}
.container .ourMission h2 {
  margin-bottom: 25px;
  color: #DAA520;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
}
.container .ourMission p {
  color: black;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}
.container .ourTeam {
  width: 65%;
  margin: 0 auto;
}
@media (max-width:1000px) {
  .container .ourTeam {
    width: 70vw;
  }
}
.container .ourTeam h2 {
  margin-bottom: 25px;
  text-align: center;
  color: #DAA520;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
}
.container .ourTeam .gallery .gallOpt {
  width: 200px;
  height: 300px;
  margin: 0 5px 50px 5px;
  background-color: #191970;
}
.container .ourTeam .gallery .gallOpt .gallImg .imgSz {
  display: block;
  margin: 15px auto 10px;
  width: 150px;
}
.container .ourTeam .gallery .gallOpt .gallTag {
  text-align: center;
}
.container .ourTeam .gallery .gallOpt .gallTag h4 {
  color: #DAA520;
  font-size: 2rem;
  font-family: 'Girassol', cursive;
  margin-bottom: 8.33333333px;
}
.container .ourTeam .gallery .gallOpt .gallTag h5 {
  color: #DAA520;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}
@media (max-width:600px) {
  .container .ourMission {
    width: 95%;
  }
  .container .ourTeam {
    width: 100%;
  }
  .container .ourTeam .gallery {
    width: 100%;
    flex-flow: column;
    display: flex;
  }
  .container .ourTeam .gallery .gallOpt {
    display: flex;
    width: 95%;
    height: 175px;
    margin-bottom: 10px;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  }
  .container .ourTeam .gallery .gallOpt .gallImg .imgSz {
    margin-left: 25px;
    height: 150px;
    object-fit: cover;
  }
  .container .ourTeam .gallery .gallOpt .gallTag {
    width: 100%;
    align-self: center;
  }
  .container .ourTeam .gallery .gallOpt:hover {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
