/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.containerAttr {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1280px;
}
.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsiveRow {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.dropShadow {
  box-shadow: 4px 4px 6px grey;
}
header {
  margin-left: 16.66666667px;
  margin-right: 16.66666667px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header a {
  color: #DAA520;
  font-size: 3.5rem;
  font-family: 'Girassol', cursive;
  text-decoration: none;
}
header nav {
  max-width: 400px;
  display: flex;
  align-items: center;
}
header nav a {
  text-align: center;
  padding: 10px 15px;
  color: #191970;
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
  text-decoration: none;
}
header nav .join {
  color: white;
  background-color: #DAA520;
}
@media (max-width:600px) {
  header nav {
    display: none;
  }
}
.menuWrap {
  visibility: hidden;
  position: fixed;
  top: 16.66666667px;
  right: 65px;
  z-index: 1;
}
@media (max-width:600px) {
  .menuWrap {
    visibility: visible;
  }
}
.menuWrap .toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menuWrap .burger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: #DAA520;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrap .burger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.menuWrap .burger > div:before,
.menuWrap .burger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menuWrap .burger > div::after {
  top: 10px;
}
.menuWrap .toggle:checked + .burger > div {
  transform: rotate(135deg);
}
.menuWrap .toggle:checked + .burger > div:before,
.menuWrap .toggle:checked + .burger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menuWrap .toggle:checked:hover + .burger > div {
  transform: rotate(225deg);
}
.menuWrap .toggle:checked ~ .menu {
  visibility: visible;
}
.menuWrap .toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 1s;
}
.menuWrap .toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menuWrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrap .menu > div {
  background-color: rgba(25, 25, 112, 0.8);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menuWrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menuWrap .menu > div > div ul {
  list-style: none;
  color: white;
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
}
.menuWrap .menu > div > div ul a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.menuWrap .menu > div > div ul a:hover {
  text-decoration: underline;
}
.searchTool {
  display: flex;
  justify-content: baseline;
}
.searchTool .input {
  color: grey;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  border: 0;
  padding-left: 10px;
  height: 45px;
  width: 50vw;
  max-width: 700px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.searchTool .closeBtn {
  width: 100px;
  height: 45px;
  background-color: #DAA520;
  background-image: url(/img/searchIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-left: solid grey 2px;
}
@media (max-width:600px) {
  .searchTool .closeBtn {
    width: 15vw;
  }
}
.quickBox {
  width: 380px;
  margin-bottom: 25px;
}
.quickBox .circle {
  margin: 0 auto;
  margin-bottom: -20px;
  width: 67px;
  height: 67px;
  background-color: #191970;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quickBox p {
  height: 120px;
  padding: 30px 0 0 0;
  color: #191970;
  font-size: 2.5rem;
  font-family: 'Special Elite', cursive;
  text-align: center;
  border: #191970 solid 2px;
  box-shadow: 4px 4px 6px grey;
}
.ratings {
  position: relative;
  top: -18px;
  left: 80px;
  display: flex;
}
.ratings input {
  display: none;
}
.ratings label {
  display: block;
  cursor: pointer;
  width: 20px;
}
.ratings label:before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: inline-block;
  color: #DAA520;
  opacity: 1;
}
.ratings label:after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  display: block;
  color: darkgray;
  opacity: 0;
}
.ratings label:hover:after,
.ratings label:hover ~ label:after,
.ratings input:checked ~ label:after {
  opacity: 1;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.gallery .gallOpt {
  margin-bottom: 25px;
  transition: all 0.2s ease;
  box-shadow: 4px 4px 6px grey;
}
.gallery .gallOpt:hover {
  transform: scale(1.25);
}
.gallery .gallTag {
  display: flex;
  margin: 10px;
  flex-flow: column;
}
.gallery .gallTag .reviews {
  align-self: flex-end;
}
footer {
  background-color: #DAA520;
  height: 170px;
}
footer .footerNav {
  margin-top: 8.33333333px;
  margin-left: 25px;
  height: 150px;
  max-width: 350px;
  display: flex;
  flex-flow: column wrap;
}
footer .footerNav a {
  margin: 15px 15px 0 15px;
  color: black;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
@media (max-width:600px) {
  footer .footerNav {
    max-width: 100%;
    margin-left: 37.5px;
  }
}
.container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1280px;
}
.container .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 459px;
  background-image: url(../img/searchpicture-withburger.png);
  margin-bottom: 50px;
  box-shadow: 4px 4px 6px grey;
}
.container .quickLinks {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 50px;
}
.container hr {
  width: 560px;
  border: #191970 solid 3px;
  margin-bottom: 50px;
}
.container .nearYou {
  margin-bottom: 50px;
}
.container .nearYou h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #191970;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
}
.container .nearYou .gallery .gallOpt {
  background-color: white;
}
.container .nearYou .gallery .gallOpt .gallImg {
  width: 342px;
  height: 207px;
}
.container .nearYou .gallery .gallOpt .gallImg .bookmark {
  float: right;
  margin: 10px;
}
.container .nearYou .gallery .gallOpt .imgOne {
  background-image: url(../img/foodplace1.png);
}
.container .nearYou .gallery .gallOpt .imgTwo {
  background-image: url(../img/foodplace2.png);
}
.container .nearYou .gallery .gallOpt .imgThree {
  background-image: url(../img/foodplace3.png);
}
.container .nearYou .gallery .gallOpt .gallTag {
  color: black;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
}
