/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.containerAttr {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 65%;
  max-width: 1280px;
}
@media (max-width:1000px) {
  .containerAttr {
    width: 100%;
  }
}
.responsiveRow {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header h1 {
  color: #DAA520;
  font-size: 3.5rem;
  font-family: 'Girassol', cursive;
}
header nav {
  max-width: 400px;
  display: flex;
  align-items: center;
}
header nav a {
  text-align: center;
  padding: 10px 15px;
  color: #191970;
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
  text-decoration: none;
}
header nav .join {
  color: white;
  background-color: #DAA520;
}
.searchTool .input {
  height: 30px;
  width: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.quickBox {
  width: 380px;
}
.quickBox img {
  display: block;
  margin: 0 auto;
  margin-bottom: -20px;
}
.quickBox p {
  height: 120px;
  padding: 30px 0 0 0;
  color: #191970;
  font-size: 2.5rem;
  font-family: 'Special Elite', cursive;
  text-align: center;
  border: #191970 solid 2px;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.gallery .gallTag {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-flow: column;
}
.gallery .gallTag .reviews {
  align-self: flex-end;
}
footer {
  background-color: #DAA520;
  height: 170px;
}
footer .footerNav {
  margin-top: 8.33333333px;
  margin-left: 25px;
  height: 150px;
  max-width: 350px;
  display: flex;
  flex-flow: column wrap;
}
footer .footerNav a {
  margin: 15px 15px 0 15px;
  color: black;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 65%;
  max-width: 1280px;
}
@media (max-width:1000px) {
  .container {
    width: 100%;
  }
}
.container .banner {
  width: 100%;
  height: 459px;
  background-image: url(/img/searchpicture.png);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .quickLinks {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 50px;
}
.container hr {
  width: 560px;
  border: #191970 solid 3px;
  margin-bottom: 50px;
}
.container .nearYou {
  margin-bottom: 50px;
}
.container .nearYou h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #191970;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
}
.container .nearYou .gallery .gallOpt .gallImg {
  width: 342px;
  height: 207px;
}
.container .nearYou .gallery .gallOpt .gallImg .bookmark {
  float: right;
  margin: 10px;
}
.container .nearYou .gallery .gallOpt .imgOne {
  background-image: url(/img/foodplace1.png);
}
.container .nearYou .gallery .gallOpt .imgTwo {
  background-image: url(/img/foodplace2.png);
}
.container .nearYou .gallery .gallOpt .imgThree {
  background-image: url(/img/foodplace3.png);
}
.container .nearYou .gallery .gallOpt .gallTag {
  color: black;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
}
