
@import './globals/reset.less';
@import './globals/global.less';
@import './globals/variables.less';
@import './globals/mixins.less';
@import './modules/navbar.less';
@import './modules/galla.less';
@import './modules/footer.less';

.container{
    .containerAttr;
    .ourMission{
        width: 65%;
        margin: 0 auto;
        text-align: center;
        h2{ .otherFont(@goldenRod,3rem); }
        p{ .bodyFont(black,1.5rem); }
    }
    .ourTeam{
        width: 65%;
        margin: 25px auto;
        h2{
            text-align: center;
            .otherFont(@goldenRod,3rem);}
        .gallery .gallOpt{
            width: 200px;
            height: 300px;
            margin: 10px 5px 10px 5px;
            background-color: @midnightBlue;
            .gallImg .imgSz {
                display: block;
                margin: 15px auto 10px;
                width: 150px;
            }
            .gallTag{
                text-align: center;
                h4{ .headerFont(@goldenRod,2rem);}
                h5{ .headerFont(@goldenRod,1.5rem);}
            } 
        }
            
    }
};