@import './globals/reset.less';
@import './globals/global.less';
@import './globals/variables.less';
@import './globals/mixins.less';
@import './modules/navbar.less';
@import './modules/searchbar.less';
@import './modules/quickBox';
@import './modules/galla.less';
@import './modules/footer.less';


.container{
    .containerAttr;
    .banner{
        width: 100%;
        height: 459px;
        background-image: url(/img/searchpicture.png);
        margin-bottom: @sectionGap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quickLinks{
        .responsiveRow;
        margin-bottom: @sectionGap;
    }
    hr{
        width: 560px;
        border:@midnightBlue solid 3px;
        margin-bottom: @sectionGap;
    }
    .nearYou{
        h2{
            text-align: center;
            margin-bottom: @sectionGap;
            .otherFont(@midnightBlue,3rem);
        }
        .gallery .gallOpt {
            .gallImg{
                 width: 342px; height: 207px;
                 .bookmark{float: right;margin: 10px;}
            }
            .imgOne{ background-image: url(/img/foodplace1.png);}
            .imgTwo{ background-image: url(/img/foodplace2.png);}
            .imgThree{ background-image: url(/img/foodplace3.png);} 
            .gallTag{ .bodyFont(black,2rem);}
        }
        margin-bottom: @sectionGap;
    }
}
