
// Fonts Styles --------------------

.headerFont(@color,@size){
    color: @color;
    font-size: @size;
    font-family: 'Girassol', cursive;
}
.bodyFont(@color,@size){
    color: @color;
    font-size: @size;
    font-family: 'Raleway', sans-serif;
}
.otherFont(@color,@size){
    color: @color;
    font-size: @size;
    font-family: 'Special Elite', cursive;
}

// Boxes ----------------------------
.containerAttr{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 65%;
    max-width: 1280px;
}