// Screen Sizes -----------
@mobile:~"max-width:500px";
@tablet:~"max-width:1000px";

// Colors -----------------
@midnightBlue: #191970;
@goldenRod: #DAA520;

// Margin Sizes -----------
@sectionGap:50px;
@innerSecGap:@sectionGap/2;