
// Colors -----------------
@midnightBlue: #191970;
@goldenRod: #DAA520;

// Sizes ------------------
@tablet:~"";
@phone: ~"";

// Margin Sizes -----------
@sectionGap:50px;
@innerSecGap:@sectionGap/2;