footer{
    background-color: @goldenRod;
    height: 170px;
    .footerNav{
        margin-top: @innerSecGap/3;
        margin-left: @innerSecGap;
        height: 150px;
        max-width: 350px;
        display: flex;
        flex-flow: column wrap;
        a{
            margin: 15px 15px 0 15px;
            .bodyFont(black, 2rem);
            text-decoration: none;
        }
    }
}