footer{
    background-color: @goldenRod;
    .footerNav{
        height: 250px;
        display: flex;
        flex-flow: column wrap;
        a{
            margin: 15px;
            .bodyFont(black, 2rem);
            text-decoration: none;;
        }
    }
}