.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .gallTag{
        display: flex;
        margin-top: 10px;
        flex-flow: column;
        height: 20px;
        .bodyFont(black,1.5rem);
        h4{
            margin: 5px;
        }
        .reviews{
            align-self: flex-end;

        }
    }
}