.gallery{
    .responsiveRow;
    .gallOpt{
        margin-bottom: @innerSecGap;
        transition:all .2s ease;
        .dropShadow;
    }
    .gallOpt:hover{
        transform: scale(1.25);
    }
    .gallTag{
        display: flex;
        margin:10px;
        flex-flow: column;
        .reviews{ align-self: flex-end;}
    }
}