header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    h1{.headerFont(@goldenRod,3.5rem);}
    nav{
        max-width: 400px;
        display: flex;
        align-items: center;
        a{
            text-align: center;
            padding: 10px 15px;
            .otherFont(@midnightBlue,2rem);
            text-decoration: none;
        }
        .join{
            color:white;
            background-color: @goldenRod;
        }
    } 
}