.quickBox{
    width: 380px;
    img{
        display: block;
        margin:0 auto;
        margin-bottom: -20px;
        
    }
    p{  
        
       
        height: 120px;
        padding: 30px 0 0 0;
        .otherFont(@midnightBlue,2.5rem);
        text-align: center;
        border: black solid 1px;
    }
}